<!--
Copyright (C) 2017 Bryan Hughes <bryan@nebri.us>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{{> header index=true path="/" title="Bryan Hughes' Website" description="Hi, I'm Bryan. Welcome to my website! Here you can find all sorts of information about me, including my talk schedule, select photography, and more." }}

<section class="content">
  <h1>Hi. I'm Bryan.</h1>
  <div class="about">
    <div class="about-content">
      <p>
        I'm a staff frontend platform engineer at <a href="https://speakeasy.com/">Speakeasy</a>
        and a former leader of the Node.js project. I love public speaking and
        engaging with the broader tech community. I also do a lot of LED art and am starting to learn game development.
        Oh, and this one time, I got a Ph.D. in electrical engineering. Good times.
      </p>
      <p>
        Learning how we can improve ourselves and grow is a driving force in my life. Exploring how my identity and
        history inform who I am and who I want to be has been a long, often painful, and deeply meaningful journey.
      </p>
      <p>
        Burning Man holds a special place in my heart. I'm co-lead of the <a href="https://blackrockpubliclibrary.org/">Black Rock Public Library</a>
        theme camp, and each year we bring a few thousand books to the Playa. I also volunteer with the Burning Man
        Organization, and have been known to bring art to Playa too. Burning Man is an important part
        of my life, and I'm grateful for the community and inspiration it provides.
      </p>
      <p>
        I'm also a photographer, passionate gamer since the 1980s, pianist, occasional composer, and wine aficionado.
        I currently live in Oakland with my amazing partner Mel.
      </p>
    </div>
    <div class="about-image">
      <img src="/static/me-small.jpg" alt="My profile photo" />
    </div>
</section>

{{> footer }}
