<!--
Copyright (C) 2017 Bryan Hughes <bryan@nebri.us>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{{> header index=true path="/" title="Bryan Hughes' Website" description="Hi, I'm Bryan. Welcome to my website! Here you can find all sorts of information about me, including my talk schedule, select photography, and more." }}

<section class="content">
  <h1>Hi. I'm Bryan.</h1>
  <div class="about">
    <div class="about-content">
      <p>
        I'm a cloud advocate at Microsoft, a collaborator on the Johnny-Five
        project, and a former leader of the Node.js
        project. I love public speaking and working with the tech community.
        I also do a lot of robotics work. Oh, and this one time, I got a Ph.D. in
        electrical engineering. Good times.
      </p>
      <p>
        I am deeply passionate about building inclusive and welcoming technical
        communities. I'm pretty active in the LGBTQ+ in tech community too. No, my
        bisexuality isn't a phase, nor am I being indecisive.
      </p>
      <p>
        Outside of tech, I'm an amateur photographer, occasional writer, a once upon
        a time pianist, and wine aficionado. I currently live in San Francisco with
        my amazing partner Mel.
      </p>
      <p>I go by <a href="https://twitter.com/nebrius">@nebrius</a> online, and purple is my favorite color.</p>
    </div>
    <div class="about-image">
      <img src="/static/me-small.jpg" alt="My profile photo" />
    </div>
</section>

{{> footer }}
