<!--
Copyright (C) 2017 Bryan Hughes <bryan@nebri.us>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{{> header photography=true path="/photography.html" title="Bryan Hughes' Photography" description="Photography is my
primary form of artistic expression. I like to study the relationship between people and the architecture around them.
What is that relationship like? What does the relationship mean to the individual? To society? What does it say about us
more broadly? You can find some of my favorite photos I've taken on this page." }}

<section class="content">
  <h1>Hi. I do photography.</h1>

  <div class="photo-forward">
    <p>
      Photography is my primary form of artistic expression. I like to study the relationship
      between people and the architecture around them. What is that relationship like?
      What does the relationship mean to the individual? To society? What does it say about us more broadly?
    </p>

    <p>
      Here are some of my favorite photos I've taken. If you would like to see more
      of my work, check it out on <a href="https://500px.com/nebrius">500px</a>.
    </p>
  </div>

  {{#photos}}
  <div class="photo-container">
    <span>{{title}}</span>
    <div>
      <img src="/static/photos/{{filename}}" alt="{{title}} by Bryan Hughes">
    </div>
  </div>
  {{/photos}}

</section>

{{> footer }}