<!--
Copyright (C) 2017 Bryan Hughes <bryan@nebri.us>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{{> header projects=true path="/projects.html" title="Bryan Hughes' Projects" description="I've been building open source projects since 2011, and I enjoy building things that I find interesting and useful to me. Sometimes these projects are useful to other people too and have gained popularity, and sometimes not. I mostly build for myself though so that I can learn something new." }}

<section class="content">
  <h1>Hi. I build things.</h1>

  <p>
    I've been building open source projects since 2011, and I enjoy building
    things that I find interesting and useful to me. Sometimes these projects are
    useful to other people too and have gained popularity, and sometimes not. These days I
    mostly build open source projects for myself so that I can learn something new.
  </p>
  <p>
    Below is a sampling of projects that I have built that I think are interesting.
    For the full list of what I've built, visit my
    <a href="https://github.com/nebrius/">GitHub profile</a>.
  </p>
  {{#projects}}

  <div class="project-container">
    <div class="project-title"><a href="{{url}}">{{title}}</a></div>
    <div class="project-description">
      {{#description}}
      <p>{{.}}</p>
      {{/description}}
    </div>
    <div class="project-video">
      {{#if videoEmbed}}{{{videoEmbed}}}{{/if}}
    </div>
  </div>
  {{/projects}}
</section>

{{> footer }}
