<!--
Copyright (C) 2017 Bryan Hughes <bryan@nebri.us>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{{> header talks=true }}

<section class="content">
  <h1>Hi. I give talks.</h1>
  <p>
    Giving talks and workshops is a thing I'm really into. I blame having teachers
    for parents and my high school days as a theatre nerd :-P. Here's a mostly
    complete list of talks I've given, but I'm sure I'm missing one or two. If
    you saw me give a talk or workshop that isn't listed here, let me know!
  </p>

  <h3>Conference Talks</h3>

  <div class="talk">
    <div class="talk-title">"The Node.js Event Loop: Not So Single Threaded"</div>
    <div class="talk-details">
      <span class="talk-event">Nodevember 2017.</span>
      <span class="talk-event-details">Nashville, Tennessee. November 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title">Master of Ceremonies</div>
    <div class="talk-details">
      <span class="talk-event">NodeConf EU.</span>
      <span class="talk-event-details">Kilkenny, Ireland. November 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=9y67eMUzj9A">The Node.js Event Loop: Not So Single Threaded"</a></div>
    <div class="talk-details">
      <span class="talk-event">Silicon Valley Code Camp.</span>
      <span class="talk-event-details">San Jose, California. October 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=zphcsoSJMvM">"The Node.js Event Loop: Not So Single Threaded"</a></div>
    <div class="talk-details">
      <span class="talk-event">Node.js Interactive 2017.</span>
      <span class="talk-event-details">Vancouver, Canada. October 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=m-wKUc7TRHM">"The Node.js Event Loop: Not So Single Threaded"</a></div>
    <div class="talk-details">
      <span class="talk-event">SeattleJS.</span>
      <span class="talk-event-details">Seattle Washington. August 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title">"TypeScript in Practice"</div>
    <div class="talk-details">
      <span class="talk-event">ForwardJS.</span>
      <span class="talk-event-details">San Francisco, California. July 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title">"Works for Me: Understanding Privilege in Tech"</div>
    <div class="talk-details">
      <span class="talk-event">ForwardJS.</span>
      <span class="talk-event-details">San Francisco, California. July 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=ATUvAQZaTbM">"Best Practices using TypeScript with Node.js"</a></div>
    <div class="talk-details">
      <span class="talk-event">Node Interactive North America.</span>
      <span class="talk-event-details">Austin, Texas. November 2016.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title">"The Node Community: Past, Present, and Future."</div>
    <div class="talk-details">
      <span class="talk-event">NodeConf Italy.</span>
      <span class="talk-event-details">Desenzano del Garda, Italy. October 2016. Conference keynote.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=8JVEN5lfhc8">"The Node Community: Past, Present, and Future."</a></div>
     <div class="talk-details">
       <span class="talk-event">NodeConf EU.</span>
       <span class="talk-event-details">Kilkenny, Ireland. October 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=UGkwBKutxdA">"API Design Through the Lens of Photography."</a></div>
     <div class="talk-details">
       <span class="talk-event">CascadiaFest.</span>
       <span class="talk-event-details">Semiahmoo, Washington. August 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"Increasing the Candidate Pool with Developer Bootcamps."</div>
     <div class="talk-details">
       <span class="talk-event">Node Summit.</span>
       <span class="talk-event-details">San Francisco, California. July 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"API Design Through the Lens of Photography."</div>
     <div class="talk-details">
       <span class="talk-event">Open Source Bridge.</span>
       <span class="talk-event-details">Portland, Oregon. June 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"API Design Through the Lens of Photography."</div>
     <div class="talk-details">
       <span class="talk-event">Self.Conference.</span>
       <span class="talk-event-details">Detroit, Michigan. May 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=UcPCAYpgB7k">"The Risks and Rewards of Getting Involved and How to Do it."</a></div>
     <div class="talk-details">
       <span class="talk-event">JSConf EU.</span>
       <span class="talk-event-details">Berlin, Germany. September 2015.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=DFTYT_BgBfI">"Make: JavaScript Robotics."</a></div>
     <div class="talk-details">
       <span class="talk-event">Maker Faire.</span>
       <span class="talk-event-details">San Francisco, California. May 2015.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"The Risks and Rewards of Getting Involved."</div>
     <div class="talk-details">
       <span class="talk-event">ForwardJS.</span>
       <span class="talk-event-details">San Francisco, California. February 2015.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=vZ90Gj1lR5E">"Electronic Fundamentals Survey."</a></div>
     <div class="talk-details">
       <span class="talk-event">RobotsConf.</span>
       <span class="talk-event-details">Amelia Island, Florida. December 2014.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=OmyNs2zq-J0">"The Lesser Known Features of ES6."</a></div>
     <div class="talk-details">
       <span class="talk-event">HTML5DevConf.</span>
       <span class="talk-event-details">San Francisco, California. October 2014.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=Nk5Hw2Jmz0Q">"The Lesser Known Features of ES6."</a></div>
     <div class="talk-details">
       <span class="talk-event">ForwardJS.</span>
       <span class="talk-event-details">San Francisco, California. July 2014.</span>
     </div>
   </div>


  <h3>Conference Workshops</h3>

  <div class="talk">
    <div class="talk-title">"Introduction to NodeBots."</div>
     <div class="talk-details">
       <span class="talk-event">Node Summit.</span>
       <span class="talk-event-details">San Francisco, California. July 2017.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"TypeScript in Practice."</div>
     <div class="talk-details">
       <span class="talk-event">Dinosaur JS.</span>
       <span class="talk-event-details">Denver, Colorado. June 2017.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"Windows 10 IoT Core, Raspberry Pi, and DotStars."</div>
     <div class="talk-details">
       <span class="talk-event">NodeConf EU.</span>
       <span class="talk-event-details">Kilkenny, Ireland. October 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"NeoPixels and Particle Photons."</div>
     <div class="talk-details">
       <span class="talk-event">Node Summit.</span>
       <span class="talk-event-details">San Francisco, California. July 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"NodeBoats."</div>
     <div class="talk-details">
       <span class="talk-event">JSConf US.</span>
       <span class="talk-event-details">Amelia Island, Florida. May 2015.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"Building Your First Robot."</div>
     <div class="talk-details">
       <span class="talk-event">ForwardJS.</span>
       <span class="talk-event-details">San Francisco, California. February 2015.</span>
     </div>
   </div>


  <h3>Meetup Talks</h3>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=fRus4lYrdM8">Building a JavaScript Powered, Cloud Connected Smart Aquarium</a></div>
    <div class="talk-details">
      <span class="talk-event">SFNode.</span>
      <span class="talk-event-details">San Francisco, California. January 2018.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title">"Works for Me: Understanding Privilege in Tech"</div>
    <div class="talk-details">
      <span class="talk-event">WaffleJS.</span>
      <span class="talk-event-details">San Francisco, California. August 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title"><a href="https://www.youtube.com/watch?v=YCb-Kz5fjEg">"Introduction and Best Practices for TypeScript"</a></div>
    <div class="talk-details">
      <span class="talk-event">SFNode.</span>
      <span class="talk-event-details">San Francisco, California. June 2017.</span>
    </div>
  </div>

  <div class="talk">
    <div class="talk-title">"How to do Node.js robotics from a Raspberry Pi."</div>
     <div class="talk-details">
       <span class="talk-event">Connected Devices.</span>
       <span class="talk-event-details">San Francisco, California. March 2016.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title"><a href="https://vimeo.com/131993092">"Successfully Hacking In Your Spare Time."</a></div>
     <div class="talk-details">
       <span class="talk-event">JS.LA.</span>
       <span class="talk-event-details">Los Angeles, California. June 2015.</span>
     </div>
   </div>

  <div class="talk">
    <div class="talk-title">"How to Give a Conference Talk."</div>
     <div class="talk-details">
       <span class="talk-event">Sacramento JS.</span>
       <span class="talk-event-details">Sacramento, California. February 2015.</span>
     </div>
   </div>


</section>

{{> footer }}
